.event__image{
    position: relative;
    width: 100%;
    height: 100%;
}

@media (min-width: 769px) {
    .singleEvent .illustrationsWrapper{
        display:flex;
    }
    .aspect-ratio-box{
        width: 50%;
        padding-top: calc(100% / (4/3)/2);
    }


.singleEvent .detailsWrapper{
    margin-top: 20px;
}

.singleEvent .moreDetailsWrapper{
    display:flex;
    flex-wrap: wrap;
    
}

.singleEvent .moreDetailsWrapper > div {
    flex: 0 50%;
}



}

