.single_event__map_container, .event__image{
    position: relative;
    width: 100%;
    height: 100%;
}


.aspect-ratio-box {
    height: 0;
    overflow: hidden;
    padding-top: calc(100% / (16/9));
    background: white;
    position: relative;
  }
  .aspect-ratio-box-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


@media (min-width: 769px) {
    .single_event__illustrations_wrapper{
        display:flex;
    }
    .aspect-ratio-box{
        width: 50%;
        padding-top: calc(100% / (4/3)/2);
    }


.single_event__details_wrapper{
    margin-top: 20px;
}

.single_event__short_details_wrapper{
    display:flex;
    flex-wrap: wrap;
    
}

.single_event__short_details_wrapper > div {
    flex: 0 50%;
}



}

.single_event__short_details_wrapper span{
    font-weight: bold;
}