

.header__banner{
    height: 80px;
    width: 100%;
}

.headerButtons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    
    text-transform: uppercase;
}
.headerButtons li{
    padding: 20px 20px 25px;
}
.headerButtons a{
    text-decoration: none;
    color: #222;
}
.navButton {
    float: right;
}

.header__top{
    padding-top: 5px;
}

.logo{
    width: 64px;
    float: left;
    margin-left: 15px;
}